<body background=back.png>
<h1 id="personal">Personal</h1>
<p>Birth date:     24. December 1972</p>
<p>Birth place: Zeulenroda/Thuringia</p>
<h1 id="ecucation">Ecucation</h1>
<h2 id="1979-1991-middle-and-high-school-of-zeulenroda">1979-1991    Middle and High School of Zeulenroda</h2>
<h2 id="1991-1992-military-service">1991-1992    Military Service</h2>
<h2 id="1992-1997-university-of-leipzig">1992-1997    University of Leipzig</h2>
<p>Teacher for Mathematics and Physics (High School level)</p>
<h2 id="1997-2000-university-of-leipzig">1997-2000    University of Leipzig</h2>
<p>PhD student at the Faculty of Physics and Geo Sciences</p>
<h1 id="work">Work</h1>
<h2 id="2000-2002-addon-systemhaus-sued-gmbh">2000-2002    AddOn Systemhaus Süd GmbH</h2>
<p>IT Consultant and Trainer</p>
<h2 id="2002-2005-science-computing-ag">2002-2005    science+computing ag</h2>
<p>System Administrator, Senior Solution Engineer</p>
<h2 id="2006-2015-amadeus-data-processing-gmbh">2006-2015    Amadeus Data Processing GmbH</h2>
<p>Intersystem Specialist, OS/Services Manager, Manager Linux Strategy &amp; Server Automation</p>
<h2 id="2015-2021-amadeus-data-processing-gmbh">2015-2021 Amadeus Data Processing GmbH</h2>
<p>Enterprise Architect, Technology Evangelist, Community Ambassador &amp; Influencer</p>
<h2 id="2021-fujitsu-tds-gmbh">2021 Fujitsu TDS GmbH</h2>
<p>Account CTO</p>
<h2 id="2022-fujitsu-services-gmbh">2022 Fujitsu Services GmbH</h2>
<p>Overall Solution Architect/Solution Manager</p>
<h2 id="2022-konginc">2022-2024 Kong Inc.</h2>
<p>Senior Customer Experience Architect</p>
<h2 id="2024-xmcyber">2024 XM Cyber</h2>
<p>Customer Success Manager</p>
<p><a href="index.html">back</a></p>
