<body background=back.png>
<center>
<h1 id="useidel-codeberg-page">useidel.codeberg.page</h1>
<img src="useidel.jpg" alt="Udo Seidel" border=0>
</center>
<p>Dr. Udo Seidel would have been a teacher for mathematics and physics if he would not have been infected by the Linux virus in 1996. After his PhD he has been in several roles: Linux/Unix instructor, sysadmin, senior solution engineer, manager, evangelist, ambassador, enterprise architect, account CTO and Senior CXA. Now he is an CSM for XM Cyber working out of Munich. He regularly speaks at conferences and publishes articles in computer magazines. On top he shares his IT thoughts and adventures on <a href="http://twitter.com/useidel">X (formerly known as Twitter)</a>, <a href="https://mastodon.social/@useidel">Mastodon</a> and <a href="http://www.facebook.com/udo.seidel.18">Facebook</a>.</p>
<p>Be prepared to find traces on other social channels too...</p>
<p><a href="about.html">About me</a></p>
